# dependencies
node_modules/
dist/
frontend/node_modules/

# Android build outputs
android/.gradle/
android/build/
android/app/build/

# Secrets
RevenueAPIKEY/
*.keystore
*.jks
.env
frontend/.env.local

# Python
backend/venv/
venv/
__pycache__/
*.pyc

docs/GGOAuth/*.json