# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
flutter/
*.log

# Virtual environment
venv/
docs/

# Secret files
.env
.env.*
!.env.example
backend/.env
frontend/.env.local
frontend/.env.*.local

# JavaScript dependencies
frontend/node_modules/
